doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Recipes
    link(rel="stylesheet", href="/styles.css")

  body
    .container
      a.navlink(href="/add-recipe") Add Recipe
      if recipes.length === 0
        p No recipes available
      else
        each recipe in recipes
          .recipe
            h1= recipe.name
            
            section
              h2 Ingredients
              ul
                each ingredient in recipe.ingredients
                  li= ingredient

            section
              h2 Instructions
              ol
                each instruction in recipe.instructions
                  li= instruction

              section 
              form(action="/remove-recipe", method="POST")
                input(type="hidden", name="index", value=recipes.indexOf(recipe))
                button.remove(type="submit") Remove Recipe